﻿
@{
    ViewBag.Title = "AttendanceEntry";
}

<div class="container-fluid" style="width: 100% !important;">

    <div class="page-body m-t-20">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="card main-card  pb-4">
                    <div class="card-header main-card-head">
                        <h5 class=""> <i class="fas fa-1x fa-th-large "></i> Employee Attendence </h5>

                    </div>

                    <div class="card-body">



                        <div class="form-card">

                            <div class="row">

                                <div class="col-md-4">
                                    <div id="my_camera"></div>
                                </div>

                                <div class="col-md-4">
                                    <div id="results"></div>
                                    <p id="imgeBase64Str" style="display:none"> </p>
                                </div>
                                <div class="col-md-4">

                                    <div class="form-group row">

                                        <div class="col-sm-7">

                                            <input type="text" class="form-control" id="txtEmpId" placeholder="Employee Id">

                                            <span id="v-txtEmpId" class="invalid-tooltip fade hide" data-delay="2000"></span>
                                        </div>
                                        <span class="text-sm-left text-c-red">*</span>
                                    </div>


                                    <div class="form-group row">


                                        <div class="col-sm-6">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="IsCheckIn"> Check In
                                            </div>

                                        </div>


                                    </div>


                                    <div class="form-group row">


                                        <div class="col-sm-6">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="IsCheckOut"> Check Out
                                            </div>

                                        </div>


                                    </div>



                                    <div class="form-group row">

                                        <div class="col-sm-7">

                                            <input type="text" class="form-control" id="txtNote" placeholder="Note">

                                        </div>

                                    </div>



                                </div>

                                <br />
                                <br />


                            </div>
                            <br />

                            <div class="row">

                                <div class="col-md-4">
                                    <form>
                                        <input type="button" id="takeshot" value="Take Snapshot" class="btn btn-info" onClick="take_snapshot()">
                                    </form>
                                </div>


                            </div>
                            <hr />
                            <div class="row mt-3">
                                <div class="col-12 text-center">
                                    @*<button class="btn btn-success" style="width: 205px !important; margin: 0 auto !important;" onclick="SaveLeaveApplication()">Submit Information </button>*@
                                    <button type="button" id="btnSave" class="btn btn-sm btn-primary mb-2" style="background-color: #00bcd4;color: #fff;" onclick="Save()">
                                        <i class="fas fa-check-square"></i>&nbsp; Save Information
                                    </button>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>


</div>













@section Scripts{



    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.26/webcam.js"></script>
   
    <script language="JavaScript">
        Webcam.set({
            width: 320,
            height: 240,
            image_format: 'jpeg',
            jpeg_quality: 90
        });
        Webcam.attach('#my_camera');
    </script>



    <script language="JavaScript">


        var file = "";


        window.onload = function () {

            setInterval(function () { take_snapshot() }, 5000);
        }

        function take_snapshot() {

            // take snapshot and get image data
            Webcam.snap(function (data_uri) {
                // display results in page
                document.getElementById('results').innerHTML =

                    '<img id="base64image" src="' + data_uri + '"/>';
            });

 

            file = document.getElementById("base64image").src;
        
         

        }


        function ValidationTooltip(id, message) {

            $(id).empty();

            if ($(id).empty()) {
                $(id).append(message);
            }
            $(id).toast('show');
            $(id).css("display", "block");

        }

        function RemoveValidationTooltip(id) {
            $(id).css("display", "none");
        }
        function Validation() {

            $('#txtEmpId').removeClass('is-invalid');

            RemoveValidationTooltip("#v-txtEmpId");

            isValid = true;

            if ($('#txtEmpId').val() == "") {

                $('#txtEmpId').addClass("is-invalid");
                ValidationTooltip("#v-txtEmpId", "Please fill out of this field!");
                isValid = false;
            }

            return isValid;
        }


         function Save() {

             if (Validation()) {
    $.confirm({
    icon: 'fas fa-question-circle',
    title: 'Are You Sure ?',
    content: 'You are about to save the data!',
    theme: 'Supervan',
    type: 'green',
    buttons: {
    Confirm: {
    text: 'Confirm',
    action: function () {
    FinalSave();
    }
    },
    Cancel: function () {
    }
    }
    });

    }

    }
    function FinalSave() {


        debugger;
     
    var jsonData = {};

        jsonData["AttId"] = $('#masterId').val();
        var EmppiD = $('#txtEmpId').val();
   
        jsonData["number"] = EmppiD;
        jsonData["IsCheckIn"] = $('#IsCheckIn').is(':checked');
        jsonData["IsCheckOut"] = $('#IsCheckOut').is(':checked');
        jsonData["Note"] = $('#txtNote').val();
        jsonData["ImageURL"] = file;
    

    var urlpath = '@Url.Action("Save_Attendance", "Attendance")';
    $.ajax({
    data: jsonData,
    url: urlpath,
    type: "POST",
    beforeSend: function () {
    _open_LoadingPopUp_WithMsg("popDiv", "Please wait. Data is Saving...");
    },
    success: function (result) {
    _close_LoadingPopUp_WithMsg();
    if (result.isSuccess == true) {
    $.confirm({
    icon: 'fas fa-check-circle',
    title: 'Success !',
    content: 'operation successfully done',
    type: 'green',
    buttons: {
    OK: {
    text: 'OK',
    action: function () {
    var url = '@Url.Action("PatientInformationView", "PatientInformation")';
    window.location.href = url;
    }
    }
    }
    });

    } else {
    _saveError();
    }

    },
    error: function (data) {
    _close_LoadingPopUp_WithMsg();
    _saveError();
    },

    });
    }


    </script>

   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1 /jquery.min.js"></script>

    }