﻿.main-wrapper .page-wrapper .page-content {
    flex-grow: 1;
    padding: 20px !important;
    margin-top: 50px !important;
}

.cfBelowPading {
    padding-bottom: 10px;
}

.tableHeadDesign-teal-shadow {
    background-color: aliceblue;
    box-shadow: 7px 10px 20px 5px #888888;
    text-align: center;
}

.card-body {
    min-height: 430px !important;
}

.form-control, select, .email-compose-fields .select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-search__field, .typeahead, .tt-query, .tt-hint {
    border: 1px solid #6e9af363;
}

    select.form-control, select, .email-compose-fields .select2-container--default select.select2-selection--multiple, .select2-container--default select.select2-selection--single, .select2-container--default .select2-selection--single select.select2-search__field, select.typeahead, select.tt-query, select.tt-hint {
        border: 1px solid #6e9af363;
    }

.baseTxtWeight {
    color: seagreen;
    font-weight: 500;
}

.bxShadow {
    box-shadow: 0px 0px 2px 0px #888888;
}




.select2-container--default .select2-results > .select2-results__options {
    background-color: #f7f7f7;
    box-shadow: 0px 0px 4px 0px #888888;
}

.txtCenter {
    text-align: center;
}

/*        .form-group {
            margin-bottom: .3rem;
        }*/

.sidebar .sidebar-body .nav .nav-item .nav-link {
    display: flex;
    align-items: center;
    padding: 0;
    height: 27px;
    white-space: nowrap;
    color: #000;
}

/*new Css*/

.btn {
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.sidebar .sidebar-body .nav .nav-item .nav-link {
    display: flex;
    align-items: center;
    padding: 0;
    height: 30px !important;
    white-space: nowrap;
    color: #000;
}

.sidebar-dark .sidebar .sidebar-body .nav .nav-item:hover .nav-link .link-title, .sidebar-dark .sidebar .sidebar-body .nav .nav-item.active .nav-link .link-title {
    color: #ebebeb !important;
}

.sidebar .sidebar-body .nav .nav-item .nav-link .link-title {
    margin-left: 7px !important;
    font-size: 14px !important;
    -webkit-transition: all .2s ease-in-out !important;
    transition: all .2s ease-in-out !important;
}

.sidebar .sidebar-body .nav.sub-menu {
    padding: 0 0 8px 33px !important;
}

.sidebar-dark .sidebar .sidebar-body .nav .nav-item .nav-link[aria-expanded="true"] {
    color: #ebebeb !important;
}

.sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link {
    height: 25px;
    color: #000;
    font-size: 13px;
    /* -webkit-transition: all .3s ease-in-out; */
    /* transition: all .3s ease-in-out; */
}

    .sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link::before {
        content: '';
        width: 10px !important;
        height: 10px !important;
        border-radius: 50%;
        background: transparent;
        border: 1px solid #a9b4ca;
        position: absolute;
        left: -18px !important;
        top: 10px;
        -webkit-transition: all .7s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }


.sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link {
    height: 25px;
    color: #ebebeb !important;
    font-size: 14px !important;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.sidebar .sidebar-body .nav .nav-item .nav-link {
    display: flex;
    align-items: center;
    padding: 0;
    height: 25px !important;
    white-space: nowrap;
    color: #000;
}

.sidebar .sidebar-body .nav .nav-item.active .nav-link::before {
    content: '';
    width: 3px;
    height: 26px;
    background: #52A8E6 !important;
    position: absolute;
    left: -25px;
}

/*table*/

.tableHeadDesign-teal-shadow {
    background-color: #8B9EC9 !important;
    box-shadow: none !important;
    text-align: center;
}


.table thead th {
    border-top: 0;
    border-bottom-width: 1px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: #ebebeb !important;
    padding: 6px 0 !important;
}

table td {
    border: .01rem solid #DFDFDF !important;
}

table.table-bordered.dataTable tbody td {
    padding: 0 0 !important;
}

.table-striped tbody tr, .baseTxtWeight {
    color: #151B54 !important;
}

.baseTxtWeight {
    font-size: .9rem !important;
    font-weight: 500 !important;
}


.table-striped tbody tr:nth-of-type(odd) {
    background-color: white !important;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #EAF1F6 !important;
}

.table-striped tbody tr button {
    margin-top: 1px !important;
    margin-right: 6px !important;
    margin-bottom: 1px !important;
}

.table-striped tbody tr button {
    padding: 0.1rem 0.4rem !important;
    font-size: 0.75rem;
    line-height: 0.7rem !important;
    border-radius: 0.1875rem;
}


.table-striped tbody tr .badge {
    padding: 2px 16px 3px;
}

.float-sm-right button {
    display: flex !important;
    justify-content: flex-end !important;
}

    .float-sm-right button i {
        margin-top: -2px !important;
        margin-right: 5px !important;
    }

/*button*/

.btn-primary, .fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk .fc-button-group .fc-button.fc-button-active, .swal2-modal .swal2-actions button.swal2-confirm, .wizard > .actions a, .wizard > .actions a:hover {
    color: #fff;
    background-color: #52A8E6 !important;
    border-color: #52A8E6 !important;
}

    .btn-primary:hover, .fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk .fc-button-group .fc-button.fc-button-active:hover, .swal2-modal .swal2-actions button.swal2-confirm:hover, .wizard > .actions a:hover {
        color: #fff;
        background-color: #046CB5 !important;
        border-color: #046CB5 !important;
    }

.btn-info {
    color: #fff;
    background-color: #00bcd4 !important;
    border-color: #00bcd4 !important;
}

    .btn-info:hover {
        color: #fff;
        background-color: #009aae;
        border-color: #008fa1;
    }

/*header*/

.wizard > .steps ul li.done a {
    background: #52A8E6 !important;
}

.wizard > .steps ul li.current a {
    background: #8ecdfb !important;
}

.main-card-head {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.card-header {
    background-color: #D7E3EE;
}

.main-card {
    border-radius: 3px !important;
    border: 1px solid #DFDFDF;
    border-left: 2px solid #73b4ff !important;
    box-shadow: none !important;
}

.child-card {
    border-radius: 3px !important;
    border: 1px solid #DFDFDF !important;
    box-shadow: none !important;
}

.card-header {
    padding: 8px 15px !important;
    border-radius: 0 !important;
}

.card .card-header {
    border-bottom: 0px solid #e2e5e8;
    position: relative;
}

    .card .card-header a {
        font-size: .9rem !important;
    }

.card-header:first-child {
    border-radius: calc(5px - 0px) calc(5px - 0px) 0 0;
}

.child-card-header {
    background-color: #EEEEEE;
    padding: 5px 12px !important;
    color: #0000cd !important;
    border-bottom: 2px solid #73b4ff !important;
}


/*Form*/

.wizard > .content {
    background: #eee;
    display: block;
    margin: .5em;
    margin-bottom: .1em !important;
    min-height: 30em !important;
    overflow: hidden;
    position: relative;
    width: auto;
    overflow: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.btn-container {
    min-width: 300px;
    margin: 0 auto;
}

.text-c-red {
    color: red !important;
}

.form-group label {
    text-align: right !important;
    font-weight: bold;
}

.form-group.row {
    margin-bottom: 0;
    padding: 0 0 !important;
}

.form-group {
    margin-bottom: -4px !important;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 4px !important;
    padding-left: 3px !important;
}

.col {
    flex-basis: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
}

.col-auto {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

.col-1 {
    -webkit-box-flex: 0;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}


.form-radio {
    position: relative;
}

.radio-inline {
    display: inline-block;
    margin-right: 20px;
}

.form-radio label {
    position: relative;
    padding-left: 1.5rem;
    text-align: left;
    color: #333;
    display: block;
    line-height: 1.8;
}


.radio .helper {
    position: absolute;
    top: -0.15rem;
    left: -0.25rem;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #999;
}

.btn-primary, .btn-warning {
    padding: .4rem 1rem !important;
}
