﻿<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from www.nobleui.com/html/template/demo_3/pages/general/blank-page.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 Mar 2021 08:57:47 GMT -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Lab_Test || @ViewBag.Title </title>
    <!-- core:css -->
    
    <link rel="stylesheet" href="~/assets/vendors/core/core.css">
    <link rel="stylesheet" href="~/assets/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="~/assets/vendors/jquery-tags-input/jquery.tagsinput.min.css">
    <link rel="stylesheet" href="~/assets/vendors/dropzone/dropzone.min.css">
    <link rel="stylesheet" href="~/assets/vendors/dropify/dist/dropify.min.css">
    <link rel="stylesheet" href="~/assets/vendors/bootstrap-colorpicker/bootstrap-colorpicker.min.css">
    <link rel="stylesheet" href="~/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    @*<link rel="stylesheet" href="~/assets/vendors/font-awesome/css/font-awesome.min.css">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="~/assets/vendors/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css">
    @*<link rel="stylesheet" href="~/assets/fonts/feather-font/css/iconfont.css">*@
    <link rel="stylesheet" href="~/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/assets/css/demo_1/style.css">
    <link rel="shortcut icon" href="~/assets/images/favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <link rel="stylesheet" href="~/assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css">

    <link rel="stylesheet" href="~/assets/vendors/jquery-steps/jquery.steps.css">
    <link rel="stylesheet" href="~/assets/vendors/dropzone/dropzone.min.css">
    <link rel="stylesheet" href="~/assets/vendors/dropify/dist/dropify.min.css">
    <link rel="stylesheet" href="~/assets/fonts/feather-font/css/iconfont.css">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css' />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

        .page-item.active .page-link {
            z-index: 3;
            color: #fff;
            background-color: #046CB5 !important;
            border-color: #046CB5 !important;
        }
        .main-wrapper .page-wrapper .page-content {
            flex-grow: 1;
            padding: 20px !important;
            margin-top: 50px !important;
        }

        .cfBelowPading {
            padding-bottom: 10px;
        }

        .tableHeadDesign-teal-shadow {
            background-color: aliceblue;
            box-shadow: 7px 10px 20px 5px #888888;
            text-align: center;
        }

        .card-body {
            min-height: 430px !important;
        }


        .form-control, select, .email-compose-fields .select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-search__field, .typeahead, .tt-query, .tt-hint {
            border: 1px solid #6e9af363;
        }

            select.form-control, select, .email-compose-fields .select2-container--default select.select2-selection--multiple, .select2-container--default select.select2-selection--single, .select2-container--default .select2-selection--single select.select2-search__field, select.typeahead, select.tt-query, select.tt-hint {
                border: 1px solid #6e9af363;
            }

        .baseTxtWeight {
            color: seagreen;
            font-weight: 500;
        }

        .bxShadow {
            box-shadow: 0px 0px 2px 0px #888888;
        }




        .select2-container--default .select2-results > .select2-results__options {
            background-color: #f7f7f7;
            box-shadow: 0px 0px 4px 0px #888888;
        }


        .select2-container--default .select2-selection--single .select2-selection__arrow b {
            background-image: url(https://cdn4.iconfinder.com/data/icons/user-interface-174/32/UIF-76-512.png);
            background-color: transparent;
            background-size: contain;
            border: none !important;
            height: 20px !important;
            width: 20px !important;
            margin: auto !important;
            top: 5px !important;
            left: auto !important;
        }

            .select2-container--default .select2-selection--single .select2-selection__arrow b::before {
                content: "" !important;
                font-family: feather;
                position: absolute;
                right: 0;
                top: -2px;
                color: #686868;
            }

        .txtCenter {
            text-align: center;
        }

        .form-group {
            margin-bottom: .3rem;
        }

        .sidebar .sidebar-body .nav .nav-item .nav-link {
            display: flex;
            align-items: center;
            padding: 0;
            height: 27px;
            white-space: nowrap;
            color: #000;
        }

        /*new Css*/

        .btn {
            -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

        .sidebar .sidebar-body .nav .nav-item .nav-link {
            display: flex;
            align-items: center;
            padding: 0;
            height: 30px !important;
            white-space: nowrap;
            color: #000;
        }

        .sidebar-dark .sidebar .sidebar-body .nav .nav-item:hover .nav-link .link-title, .sidebar-dark .sidebar .sidebar-body .nav .nav-item.active .nav-link .link-title {
            color: #ebebeb !important;
        }

        .sidebar .sidebar-body .nav .nav-item .nav-link .link-title {
            margin-left: 7px !important;
            font-size: 14px !important;
            -webkit-transition: all .2s ease-in-out !important;
            transition: all .2s ease-in-out !important;
        }

        .sidebar .sidebar-body .nav.sub-menu {
            padding: 0 0 8px 33px !important;
        }

        .sidebar-dark .sidebar .sidebar-body .nav .nav-item .nav-link[aria-expanded="true"] {
            color: #ebebeb !important;
        }

        .sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link {
            height: 25px;
            color: #000;
            font-size: 13px;
            /* -webkit-transition: all .3s ease-in-out; */
            /* transition: all .3s ease-in-out; */
        }

            .sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link::before {
                content: '';
                width: 10px !important;
                height: 10px !important;
                border-radius: 50%;
                background: transparent;
                border: 1px solid #a9b4ca;
                position: absolute;
                left: -18px !important;
                top: 10px;
                -webkit-transition: all .7s ease-in-out;
                -webkit-transition: all .4s ease-in-out;
                transition: all .4s ease-in-out;
            }


        .sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link {
            height: 25px;
            color: #ebebeb !important;
            font-size: 14px !important;
            -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
        }

        .sidebar .sidebar-body .nav .nav-item .nav-link {
            display: flex;
            align-items: center;
            padding: 0;
            height: 25px !important;
            white-space: nowrap;
            color: #000;
        }

        .sidebar .sidebar-body .nav .nav-item.active .nav-link::before {
            content: '';
            width: 3px;
            height: 26px;
            background: #52A8E6 !important;
            position: absolute;
            left: -25px;
        }


        table.blueTable {
            font-family: Verdana, Geneva, sans-serif;
            width: 100%;
            text-align: center;
            border-collapse: collapse;
        }

            table.blueTable td, table.blueTable th {
                padding: 3px 2px;
            }

            table.blueTable tbody td {
                font-size: 12px;
                color: #000000;
            }

            table.blueTable tr:nth-child(even) {
                background: #D0E4F5;
            }

            table.blueTable thead {
                background: #52A8E6;
                background: -moz-linear-gradient(top, #7dbeec 0%, #63b0e8 66%, #52A8E6 100%);
                background: -webkit-linear-gradient(top, #7dbeec 0%, #63b0e8 66%, #52A8E6 100%);
                background: linear-gradient(to bottom, #7dbeec 0%, #63b0e8 66%, #52A8E6 100%);
            }

                table.blueTable thead th {
                    font-size: 14px;
                    font-weight: bold;
                    color: #ffffff;
                    text-align: center;
                    padding: 8px;
                }



        .float-sm-right button {
            display: flex !important;
            justify-content: flex-end !important;
        }

            .float-sm-right button i {
                margin-top: -2px !important;
                margin-right: 5px !important;
            }

        /*button*/

        .btn-primary, .fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk .fc-button-group .fc-button.fc-button-active, .swal2-modal .swal2-actions button.swal2-confirm, .wizard > .actions a, .wizard > .actions a:hover {
            color: #fff;
            background-color: #52A8E6 !important;
            border-color: #52A8E6 !important;
        }

            .btn-primary:hover, .fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk .fc-button-group .fc-button.fc-button-active:hover, .swal2-modal .swal2-actions button.swal2-confirm:hover, .wizard > .actions a:hover {
                color: #fff;
                background-color: #046CB5 !important;
                border-color: #046CB5 !important;
            }

        .btn-info {
            color: #fff;
            background-color: #00bcd4 !important;
            border-color: #00bcd4 !important;
        }

            .btn-info:hover {
                color: #fff;
                background-color: #009aae;
                border-color: #008fa1;
            }

        /*header*/

        .wizard > .steps ul li.done a {
            background: #52A8E6 !important;
        }

        .wizard > .steps ul li.current a {
            background: #8ecdfb !important;
        }

        .main-card-head {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }

        .card-header {
            background-color: #D7E3EE;
        }

        .main-card {
            border-radius: 3px !important;
            border: 1px solid #DFDFDF;
            border-left: 2px solid #73b4ff !important;
            box-shadow: none !important;
        }

        .child-card {
            border-radius: 3px !important;
            border: 1px solid #DFDFDF !important;
            box-shadow: none !important;
        }

        .card-header {
            padding: 8px 15px !important;
            border-radius: 0 !important;
        }

        .card .card-header {
            border-bottom: 0px solid #e2e5e8;
            position: relative;
        }

            .card .card-header a {
                font-size: .9rem !important;
            }

        .card-header:first-child {
            border-radius: calc(5px - 0px) calc(5px - 0px) 0 0;
        }

        .child-card-header {
            background-color: #EEEEEE;
            padding: 5px 12px !important;
            color: #0000cd !important;
            border-bottom: 2px solid #73b4ff !important;
        }


        /*Form*/

        .wizard > .content {
            background: #eee;
            display: block;
            margin: .5em;
            margin-bottom: .1em !important;
            min-height: 30em !important;
            overflow: hidden;
            position: relative;
            width: auto;
            overflow: auto;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }

        .btn-container {
            min-width: 300px;
            margin: 0 auto;
        }

        .text-c-red {
            color: red !important;
        }

        .form-group label {
            text-align: right !important;
            font-weight: bold;
        }

        .form-group label {
            font-size: 0.875rem;
            line-height: 1.0rem !important;
            vertical-align: top;
            margin-bottom: .5rem;
        }

        .form-group.row {
            margin-bottom: 0;
            padding: 0 0 !important;
        }

        .form-group {
            margin-bottom: -8px !important;
        }

        .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
        .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
        .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
        .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
        .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
        .col-xl-auto {
            position: relative;
            width: 100%;
            padding-right: 4px !important;
            padding-left: 3px !important;
        }

        .col {
            flex-basis: 0;
            -webkit-box-flex: 1;
            flex-grow: 1;
            max-width: 100%;
        }

        .col-auto {
            -webkit-box-flex: 0;
            flex: 0 0 auto;
            width: auto;
            max-width: 100%;
        }

        .col-1 {
            -webkit-box-flex: 0;
            flex: 0 0 8.33333%;
            max-width: 8.33333%;
        }


        .form-radio {
            position: relative;
        }

        .radio-inline {
            display: inline-block;
            margin-right: 20px;
        }

        .form-radio label {
            position: relative;
            padding-left: 1.5rem;
            text-align: left;
            color: #333;
            display: block;
            line-height: 1.8;
        }


        .radio .helper {
            position: absolute;
            top: -0.15rem;
            left: -0.25rem;
            cursor: pointer;
            display: block;
            font-size: 1rem;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            color: #999;
        }

        .btn-primary, .btn-warning {
            padding: .4rem 1rem !important;
        }
    </style>
</head>

<body class="sidebar-dark">
    <div class="main-wrapper">
        <nav class="sidebar">
            <div class="sidebar-header">
                <a href="#" class="sidebar-brand">
                    LAB - <span style="color: #52A8E6 !important; font-weight: bold !important;">Test</span>
                </a>
                <div class="sidebar-toggler not-active">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="sidebar-body">
                <ul class="nav">
                   
                    <li class="nav-item nav-category">Web apps</li>
                    <li class="nav-item">

                        <a class="nav-link" data-toggle="collapse" href="#MasterSetup" role="button" aria-expanded="false" aria-controls="MasterSetup">
                            @*<i class="link-icon" data-feather="mail"></i>*@
                            <i class="fas fa-cog"></i>
                            <span class="link-title"> Employee Attendance </span>
                            <i class="link-arrow" data-feather="chevron-down"></i>
                        </a>
                        <div class="collapse" id="MasterSetup">
                            <ul class="nav sub-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("AttendanceEntry", "Attendance")">


                                        Attendance 


                                    </a>

                                </li>

                         
                                @*<li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("FinancialYearView", "FinancialYear")">


                                            Financial Year

                                        </a>

                                    </li>*@

                            </ul>
                        </div>











                    </li>

                </ul>
            </div>
        </nav>
        <div class="page-wrapper">

            <nav class="navbar">
                <a href="#" class="sidebar-toggler">
                    <i data-feather="menu"></i>
                </a>
                <div class="navbar-content">
                    @*<form class="search-form">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i data-feather="search"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control" id="navbarForm" placeholder="Search here...">
                            </div>
                        </form>*@
                    <ul class="navbar-nav">
                        @*<li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="flag-icon flag-icon-us mt-1" title="us"></i> <span class="font-weight-medium ml-1 mr-1 d-none d-md-inline-block">English</span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="languageDropdown">
                                    <a href="javascript:;" class="dropdown-item py-2"><i class="flag-icon flag-icon-us" title="us" id="us"></i> <span class="ml-1"> English </span></a>
                                    <a href="javascript:;" class="dropdown-item py-2"><i class="flag-icon flag-icon-fr" title="fr" id="fr"></i> <span class="ml-1"> French </span></a>
                                    <a href="javascript:;" class="dropdown-item py-2"><i class="flag-icon flag-icon-de" title="de" id="de"></i> <span class="ml-1"> German </span></a>
                                    <a href="javascript:;" class="dropdown-item py-2"><i class="flag-icon flag-icon-pt" title="pt" id="pt"></i> <span class="ml-1"> Portuguese </span></a>
                                    <a href="javascript:;" class="dropdown-item py-2"><i class="flag-icon flag-icon-es" title="es" id="es"></i> <span class="ml-1"> Spanish </span></a>
                                </div>
                            </li>*@
                        @*<li class="nav-item dropdown nav-apps">
                                <a class="nav-link dropdown-toggle" href="#" id="appsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i data-feather="grid"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="appsDropdown">
                                    <div class="dropdown-header d-flex align-items-center justify-content-between">
                                        <p class="mb-0 font-weight-medium">Web Apps</p>
                                        <a href="javascript:;" class="text-muted">Edit</a>
                                    </div>
                                    <div class="dropdown-body">
                                        <div class="d-flex align-items-center apps">
                                            <a href="../apps/chat.html"><i data-feather="message-square" class="icon-lg"></i><p>Chat</p></a>
                                            <a href="../apps/calendar.html"><i data-feather="calendar" class="icon-lg"></i><p>Calendar</p></a>
                                            <a href="../email/inbox.html"><i data-feather="mail" class="icon-lg"></i><p>Email</p></a>
                                            <a href="profile.html"><i data-feather="instagram" class="icon-lg"></i><p>Profile</p></a>
                                        </div>
                                    </div>
                                    <div class="dropdown-footer d-flex align-items-center justify-content-center">
                                        <a href="javascript:;">View all</a>
                                    </div>
                                </div>
                            </li>*@
                        @*<li class="nav-item dropdown nav-messages">
                                <a class="nav-link dropdown-toggle" href="#" id="messageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i data-feather="mail"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="messageDropdown">
                                    <div class="dropdown-header d-flex align-items-center justify-content-between">
                                        <p class="mb-0 font-weight-medium">9 New Messages</p>
                                        <a href="javascript:;" class="text-muted">Clear all</a>
                                    </div>
                                    <div class="dropdown-body">
                                        <a href="javascript:;" class="dropdown-item">
                                            <div class="figure">
                                                <img src="../../../assets/images/faces/face2.jpg" alt="userr">
                                            </div>
                                            <div class="content">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <p>Leonardo Payne</p>
                                                    <p class="sub-text text-muted">2 min ago</p>
                                                </div>
                                                <p class="sub-text text-muted">Project status</p>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="dropdown-item">
                                            <div class="figure">
                                                <img src="../../../assets/images/faces/face3.jpg" alt="userr">
                                            </div>
                                            <div class="content">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <p>Carl Henson</p>
                                                    <p class="sub-text text-muted">30 min ago</p>
                                                </div>
                                                <p class="sub-text text-muted">Client meeting</p>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="dropdown-item">
                                            <div class="figure">
                                                <img src="../../../assets/images/faces/face4.jpg" alt="userr">
                                            </div>
                                            <div class="content">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <p>Jensen Combs</p>
                                                    <p class="sub-text text-muted">1 hrs ago</p>
                                                </div>
                                                <p class="sub-text text-muted">Project updates</p>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="dropdown-item">
                                            <div class="figure">
                                                <img src="../../../assets/images/faces/face5.jpg" alt="userr">
                                            </div>
                                            <div class="content">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <p>Amiah Burton</p>
                                                    <p class="sub-text text-muted">2 hrs ago</p>
                                                </div>
                                                <p class="sub-text text-muted">Project deadline</p>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="dropdown-item">
                                            <div class="figure">
                                                <img src="../../../assets/images/faces/face6.jpg" alt="userr">
                                            </div>
                                            <div class="content">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <p>Yaretzi Mayo</p>
                                                    <p class="sub-text text-muted">5 hr ago</p>
                                                </div>
                                                <p class="sub-text text-muted">New record</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="dropdown-footer d-flex align-items-center justify-content-center">
                                        <a href="javascript:;">View all</a>
                                    </div>
                                </div>
                            </li>*@
                        <li class="nav-item dropdown nav-notifications">
                            <a class="nav-link dropdown-toggle" href="#" id="notificationDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i data-feather="bell"></i>
                                <div class="indicator">
                                    <div class="circle"></div>
                                </div>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="notificationDropdown">
                                <div class="dropdown-header d-flex align-items-center justify-content-between">
                                    <p class="mb-0 font-weight-medium">6 New Notifications</p>
                                    <a href="javascript:;" class="text-muted">Clear all</a>
                                </div>
                                <div class="dropdown-body">
                                    <a href="javascript:;" class="dropdown-item">
                                        <div class="icon">
                                            <i data-feather="user-plus"></i>
                                        </div>
                                        <div class="content">
                                            <p>New customer registered</p>
                                            <p class="sub-text text-muted">2 sec ago</p>
                                        </div>
                                    </a>
                                    <a href="javascript:;" class="dropdown-item">
                                        <div class="icon">
                                            <i data-feather="gift"></i>
                                        </div>
                                        <div class="content">
                                            <p>New Order Recieved</p>
                                            <p class="sub-text text-muted">30 min ago</p>
                                        </div>
                                    </a>
                                    <a href="javascript:;" class="dropdown-item">
                                        <div class="icon">
                                            <i data-feather="alert-circle"></i>
                                        </div>
                                        <div class="content">
                                            <p>Server Limit Reached!</p>
                                            <p class="sub-text text-muted">1 hrs ago</p>
                                        </div>
                                    </a>
                                    <a href="javascript:;" class="dropdown-item">
                                        <div class="icon">
                                            <i data-feather="layers"></i>
                                        </div>
                                        <div class="content">
                                            <p>Apps are ready for update</p>
                                            <p class="sub-text text-muted">5 hrs ago</p>
                                        </div>
                                    </a>
                                    <a href="javascript:;" class="dropdown-item">
                                        <div class="icon">
                                            <i data-feather="download"></i>
                                        </div>
                                        <div class="content">
                                            <p>Download completed</p>
                                            <p class="sub-text text-muted">6 hrs ago</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="dropdown-footer d-flex align-items-center justify-content-center">
                                    <a href="javascript:;">View all</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown nav-profile">
                            <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="~/assets/images/faces/UserImage.png" alt="profile">
                            </a>
                            <div class="dropdown-menu" aria-labelledby="profileDropdown">
                                <div class="dropdown-header d-flex flex-column align-items-center">
                                    <div class="figure mb-3">
                                        <img src="~/assets/images/faces/UserImage.png" alt="">
                                    </div>
                                    <div class="info text-center">

                                        <p class="name font-weight-bold mb-0">@Session["UserName"]</p>
                                        <p class="email text-muted mb-3">@Session["Email"]</p>
                                    </div>
                                </div>
                                <div class="dropdown-body">
                                    <ul class="profile-nav p-0 pt-3">
                                        <li class="nav-item">
                                            <a href="profile.html" class="nav-link">
                                                <i data-feather="user"></i>
                                                <span>Profile</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="javascript:;" class="nav-link">
                                                <i data-feather="edit"></i>
                                                <span>Edit Profile</span>
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="../UserLogin/LogOut" class="nav-link">
                                                <i data-feather="log-out"></i>
                                                <span>Log Out</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>


            <div class="page-content">
                <div class="row">
                    @RenderBody()
                </div>
            </div>


            <!-- partial:../../partials/_footer.html -->
            <footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between">
                <p class="text-muted text-center text-md-left">Copyright © 2021 @*<a href="https://www.nobleui.com/" target="_blank">NobleUI</a>*@ CSTL. All rights reserved</p>
                @*<p class="text-muted text-center text-md-left mb-0 d-none d-md-block">Handcrafted With <i class="mb-1 text-primary ml-1 icon-small" data-feather="heart"></i></p>*@
            </footer>
            <!-- partial -->

        </div>
    </div>

    <script src="~/assets/vendors/core/core.js"></script>
    <script src="~/assets/vendors/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/assets/vendors/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script src="~/assets/vendors/inputmask/jquery.inputmask.min.js"></script>
    <script src="~/assets/vendors/select2/select2.min.js"></script>
    <script src="~/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <script src="~/assets/vendors/jquery-tags-input/jquery.tagsinput.min.js"></script>
    <script src="~/assets/vendors/dropzone/dropzone.min.js"></script>
    <script src="~/assets/vendors/dropify/dist/dropify.min.js"></script>
    <script src="~/assets/vendors/bootstrap-colorpicker/bootstrap-colorpicker.min.js"></script>
    <script src="~/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/vendors/moment/moment.min.js"></script>
    <script src="~/assets/vendors/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.js"></script>
    <script src="~/assets/vendors/feather-icons/feather.min.js"></script>
    <script src="~/assets/js/template.js"></script>
    <script src="~/assets/js/form-validation.js"></script>
    <script src="~/assets/js/bootstrap-maxlength.js"></script>
    <script src="~/assets/js/inputmask.js"></script>
    <script src="~/assets/js/select2.js"></script>
    <script src="~/assets/js/typeahead.js"></script>
    <script src="~/assets/js/tags-input.js"></script>
    <script src="~/assets/js/dropzone.js"></script>
    <script src="~/assets/js/dropify.js"></script>
    <script src="~/assets/js/bootstrap-colorpicker.js"></script>
    <script src="~/assets/js/datepicker.js"></script>
    <script src="~/assets/js/timepicker.js"></script>
    <script src="~/CustomScript/_myCusGen_Func.js"></script>
    <script src="~/CustomScript/_QuickDataAccess.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="~/assets/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/assets/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="~/assets/js/data-table.js"></script>
    <script src="~/assets/vendors/feather-icons/feather.min.js"></script>

    <script src="~/assets/vendors/jquery-steps/jquery.steps.min.js"></script>
    <script src="~/assets/js/wizard.js"></script>

    <script src="~/assets/vendors/dropzone/dropzone.min.js"></script>
    <script src="~/assets/vendors/dropify/dist/dropify.min.js"></script>
    <script src="~/assets/js/dropzone.js"></script>
    <script src="~/assets/js/dropify.js"></script>
    <script src="~/DashboaedAssets/js/ValidationClasses.js"></script>
    <script src="~/assets/js/dashboard.js"></script>
    <script src="~/assets/js/datepicker.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.26/webcam.min.js"></script>

    @RenderSection("scripts", required: false)


    <script>
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
</body>

<!-- Mirrored from www.nobleui.com/html/template/demo_3/pages/general/blank-page.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 Mar 2021 08:57:47 GMT -->
</html>
