﻿
@{
    ViewBag.Title = "Registration";
}






<style>

    .form-switch {
        padding-left: 2.5em;
    }

    .form-check {
        display: block;
        min-height: 1.5rem;
        padding-left: 1.5em;
        margin-bottom: .125rem;
    }
</style>

<div class="container-fluid" style="width: 100% !important;">

    <div class="page-body m-t-20">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="card main-card  pb-4">
                    <div class="card-header main-card-head">
                        <h5 class=""> <i class="fas fa-1x fa-th-large "></i> User Registration </h5>
                       
                    </div>


                    <div class="card-body ">
                        <div class="card-group">

                            <div class="card" >

                                <div class="card-body">

                                    <hr />
                                    <p class="card-text">




                                        <div class="row mb-1">

                                            <div class="col-12">
                                                <div class="form-group row">
                                                    <label for="Village" class="col-sm-4 col-form-label">User Name:</label>
                                                    <div class="col-sm-5">
                                                        <input type="text" class="form-control" id="UserName">

                                                        <span id="v-UserName" class="invalid-tooltip fade hide" data-delay="2000"></span>
                                                    </div>
                                                    <span class="text-sm-left text-c-red">*</span>
                                                </div>
                                            </div>
                                        </div>




                                        <div style="padding-top:6px;"></div>




                                        <div class="row mb-1">

                                            <div class="col-12">
                                                <div class="form-group row">
                                                    <label for="Age" class="col-sm-4 col-form-label">Password :</label>
                                                    <div class="col-sm-5">
                                                        <input type="password" class="form-control" id="Password">

                                                        <span id="v-Password" class="invalid-tooltip fade hide" data-delay="2000"></span>
                                                    </div>
                                                    <span class="text-sm-left text-c-red">*</span>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row mb-1">

                                            <div class="col-12">
                                                <div class="form-group row">
                                                    <label for="Age" class="col-sm-4 col-form-label">Confirm Password :</label>
                                                    <div class="col-sm-5">
                                                        <input type="password" class="form-control" id="ConfirmPassword">

                                                        <span id="v-ConfirmPassword" class="invalid-tooltip fade hide" data-delay="2000"></span>
                                                    </div>
                                                    <span class="text-sm-left text-c-red">*</span>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row mb-1">

                                            <div class="col-12">
                                                <div class="form-group row">
                                                    <label for="Email" class="col-sm-4 col-form-label">Email:</label>
                                                    <div class="col-sm-5">
                                                        <input type="text" class="form-control" id="Email">

                                                        <span id="v-Email" class="invalid-tooltip fade hide" data-delay="2000"></span>
                                                    </div>
                                                    <span class="text-sm-left text-c-red">*</span>
                                                </div>
                                            </div>
                                        </div>


                                    </p>

                                </div>
                            </div>


                        </div>


                       <div class="row mt-3">
                            <div class="col-12 text-center">
                                @*<button class="btn btn-success" style="width: 205px !important; margin: 0 auto !important;" onclick="SaveLeaveApplication()">Submit Information </button>*@
                                <button type="button" id="btnSave" class="btn btn-sm btn-primary mb-2" style="background-color: #00bcd4;color: #fff;" onclick="Save()">
                                    <i class="fas fa-check-square"></i>&nbsp; Save Information
                                </button>
                                <button type="button" class="btn btn-sm btn-warning  mb-2" style="background-color: orangered; color: #fff;" onclick="ConfirmationClick()"><i class="fa fa-retweet" aria-hidden="true"></i>&nbsp; Reset Information </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input id="masterId" value="@ViewBag.Id" style="display:none" />

@section Scripts{
    <script>

        var RowId = 0;

        var Rowcount = 0;

    $(function () {



        //GetDegree();

        let id = $('#masterId').val();
        if (id > 0) {

            $('#RegisterDate').datepicker();
            $('#TestDate').datepicker();
            GetDisivionAll(0);
            GetServiceProvider(0);
            GetThana(0);
            GetReferInstitution(0);
            GetData(id);
        } else {


        }


        $("#DivisionSelect").on("change", function (e) {

            var divisionId = $("#DivisionSelect").val();
            if (divisionId > 0) {
                GetDistrictByDisivion(0, divisionId);
            }
        });

        $("#DistrictSelect").on("change", function (e) {
            var districtId = $("#DistrictSelect").val();
            if (districtId > 0) {
                GetThanaByDistrict(0, districtId);
            }
        });


        $("#UpazilaSelect").on("change", function (e) {
            var ThanaId = $("#UpazilaSelect").val();
            if (ThanaId > 0) {
                GetReferalInstituionByThanaId(ThanaId);
            }
        });

     });








    function ValidationTooltip(id, message) {

           $(id).empty();

            if ($(id).empty()) {
                $(id).append(message);
            }
            $(id).toast('show');
            $(id).css("display", "block");

        }

        function RemoveValidationTooltip(id) {
            $(id).css("display", "none");
        }
        function Validation() {

            $('#UserName').removeClass('is-invalid');
            $('#Password').removeClass('is-invalid');
            $('#ConfirmPassword').removeClass('is-invalid');

            RemoveValidationTooltip("#v-UserName");
            RemoveValidationTooltip("#v-Password");
            RemoveValidationTooltip("#v-ConfirmPassword");

            isValid = true;

            if ($('#UserName').val() == "") {

                $('#UserName').addClass("is-invalid");
                ValidationTooltip("#v-UserName", "Please fill out of this field!");
                isValid = false;
            }

            if ($('#Password').val() == 0) {

                $('#Password').addClass("is-invalid");
                ValidationTooltip("#v-Password", "Please fill out of this field!");
                isValid = false;
            }

            if ($('#ConfirmPassword').val() == 0) {

                $('#ConfirmPassword').addClass("is-invalid");
                ValidationTooltip("#v-ConfirmPassword", "Please fill out of this field!");
                isValid = false;
            }

            if ($('#ConfirmPassword').val().trim() != $('#Password').val().trim()) {

                _errorWithMsg("Password Not Match");

                isValid = false;


            return isValid;
        }




    function Save() {

        if (Validation()) {
            $.confirm({
                icon: 'fas fa-question-circle',
                title: 'Are You Sure ?',
                content: 'You are about to save the data!',
                theme: 'Supervan',
                type: 'green',
                buttons: {
                    Confirm: {
                        text: 'Confirm',
                        action: function () {
                            FinalSave();
                        }
                    },
                    Cancel: function () {
                    }
                }
            });

        }

    }
    function FinalSave() {

        var jsonData = {};

        jsonData["PatientId"] = $('#masterId').val();
        jsonData["InfoCollectionDate"] = $('#CollectedDate').val();
        jsonData["ProviderinfoID"] = $('#providerName').val();
        jsonData["RegSLNo"] = $('#RegisterSerial').val();
        jsonData["RegDate"] = $('#RegisterDate').val();
        jsonData["PatientName"] = $('#PatientName').val();
        jsonData["Address"] = $('#Address').val();
        jsonData["ThanaId"] = $('#patientUpazilaSelect').val();
        jsonData["Age"] = $('#Age').val();

        if ($("input[name='Gender']:checked").val() == "Male") {

            jsonData["Gender"] = $('#GenderMale').val();
        }
        else {
            jsonData["Gender"] = $('#GenderFemale').val();
        }

        jsonData["MobileNo"] = $('#MobileNo').val();

        jsonData["IsPresumptive"] = $('#IsPresumptive').is(':checked')

        if ($('#IsPresumptive').is(':checked') == true) {
            jsonData["IsPulmonaryPatient"] = $('#PulmonaryPresumptive').is(':checked');
            jsonData["IsExtraPulmonaryPatient"] = $('#ExtraPulmonaryPresumptive').is(':checked');
        }

        jsonData["IsReferred"] = $('#IsReferred').is(':checked')

        if ($('#IsReferred').is(':checked') == true) {
            jsonData["IsLab"] = $('#Islab').is(':checked');
            jsonData["IsDoctor"] = $('#IsDoctor').is(':checked');
        }

        jsonData["ReferralCentreId"] = $('#Institution').val();
        jsonData["TestDate"] = $('#TestDate').val();

        var date = $('#TestDate').val();
        if (date == '01-Jan-1') {
            jsonData["TestDate"] = "";
        }
        else {
            jsonData["TestDate"] = date;
        }

        jsonData["IsResultMTBDetected"] = $('#mtbDetected').is(':checked')
        jsonData["IsResultPulmonary"] = $('#Pulmonary').is(':checked')
        jsonData["IsResultExtraPulmonary"] = $('#ExtraPulmonary').is(':checked')
        jsonData["IsResultMTBNotDetected"] = $('#MTBNotDetected').is(':checked')
        jsonData["IsResultGraduateDoctor"] = $('#GraduateDoctor').is(':checked')
        jsonData["IsResultClinicallyDiagnosed"] = $('#Clinicallydiagnosed').is(':checked')
        jsonData["IsResultClinicallyNotDiagnosed"] = $('#NotClinicallydiagnosed').is(':checked')
        jsonData["RifCategoryId"] = $('#ddlRifCategory').val();

        var jsonObjs = [];



        for (var i = 0; i < Rowcount; i++) {
            var theObj = {};
            RowId = i;
            RowId++;

            var SetSymptomId = $("input[name='Symptom[" + RowId + "]']").val();


            if ($("input[name='inlineRadioOptions[" + RowId + "]']:checked").val() == "No") {

                theObj["SymptomId"] = SetSymptomId;
                theObj["IsTrue"] = false;
                jsonObjs.push(theObj);
                jsonData["PatientDetails"] = jsonObjs;
            }


            if ($("input[name='inlineRadioOptions[" + RowId + "]']:checked").val() == "Yes") {

                theObj["SymptomId"] = SetSymptomId;
                theObj["IsTrue"] = true;
                jsonObjs.push(theObj);
                jsonData["PatientDetails"] = jsonObjs;
            }







            //if ($('#Yes['+RowId+']').is(':checked') == true) {
            //    theObj["SymptomId"] = SetSymptomId;
            //    theObj["IsTrue"] = true;
            //    jsonObjs.push(theObj);
            //    jsonData["PatientDetails"] = jsonObjs;
            //}



            //if ($('#No['+RowId+']').is(':checked') == true) {
            //    theObj["SymptomId"] = SetSymptomId;
            //    theObj["IsTrue"] = false;
            //    jsonObjs.push(theObj);
            //    jsonData["PatientDetails"] = jsonObjs;
            //}



        }



          var urlpath = '@Url.Action("Update_PatientInfo", "PatientInformation")';
            $.ajax({
                data: jsonData,
                url: urlpath,
                type: "POST",
                beforeSend: function () {
                    _open_LoadingPopUp_WithMsg("popDiv", "Please wait. Data is Saving...");
                },
                success: function (result) {
                    _close_LoadingPopUp_WithMsg();
                    if (result.isSuccess == true) {
                        $.confirm({
                            icon: 'fas fa-check-circle',
                            title: 'Success !',
                            content: 'operation successfully done',
                            type: 'green',
                            buttons: {
                                OK: {
                                    text: 'OK',
                                    action: function () {
                                var url = '@Url.Action("PatientInformationView", "PatientInformation")';
                                window.location.href = url;
                                    }
                                }
                            }
                        });

                    } else {
                        _saveError();
                    }

                },
                error: function (data) {
                    _close_LoadingPopUp_WithMsg();
                    _saveError();
                },

            });
        }


        function GetData(id) {

            var urlpath = '@Url.Action("GetPatientInformationEditData", "PatientInformation")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                data: {id : id},
                type: "Get",
                async: false,
                success: function (data) {

                    $("#btnSave").html(" <i class='fas fa-check-square'></i>&nbsp;Update Information");

                    $('#CollectedDate').val(ToJavaScriptDate_Formater(data.InfoCollectionDate));

                    $('#RegisterSerial').val(data.RegSLNo);

                    $('#RegisterDate').val(ToJavaScriptDate_Formater(data.RegDate));
                    GetServiceProvider(data.ProviderinfoID);

                    $('#PatientName').val(data.PatientName);

                    $('#Address').val(data.Address);

                    $('#Age').val(data.Age);

                    GetThana(data.ThanaId);

                    $('#MobileNo').val(data.MobileNo);
                    GetReferInstitution(data.ReferralCentreId);

                    $('#TestDate').val(ToJavaScriptDate_Formater(data.TestDate));


                    if (data.Gender == "Male") {
                      //  $("#GenderMale").prop("checked", true);
                        $("#GenderMale").prop("checked", true);
                    }
                    else {
                        $("#GenderFemale").prop("checked", true);
                    }


                    if (data.IsPresumptive) {
                        $("#IsPresumptive").prop("checked", true);

                        if (data.IsPulmonaryPatient) {
                            $("#PulmonaryPresumptive").prop("checked", true);
                            $("#ExtraPulmonaryPresumptive").prop("checked", false);
                        }
                        if (data.IsExtraPulmonaryPatient) {
                            $("#PulmonaryPresumptive").prop("checked", false);
                            $("#ExtraPulmonaryPresumptive").prop("checked", true);
                        }
                    }


                    if (data.IsReferred) {
                        $("#IsReferred").prop("checked", true);

                        if (data.IsLab) {
                            $("#Islab").prop("checked", true);
                            $("#IsDoctor").prop("checked", false);
                        }

                        if (data.IsDoctor) {
                            $("#IsDoctor").prop("checked", true);
                            $("#Islab").prop("checked", false);
                        }
                    }

                    if (data.IsResultMTBDetected) {
                        $("#mtbDetected").prop("checked", true);

                        if (data.IsResultPulmonary) {
                            $("#Pulmonary").prop("checked", true);
                            $("#ExtraPulmonary").prop("checked", false);
                        }

                        if (data.IsResultExtraPulmonary) {
                            $("#ExtraPulmonary").prop("checked", true);
                            $("#Pulmonary").prop("checked", false);
                        }

                    }
                    else {
                        $("#MTBNotDetected").prop("checked", true);
                    }

                    if (data.IsResultGraduateDoctor) {
                        $("#GraduateDoctor").prop("checked", true);

                        if (data.IsResultClinicallyDiagnosed) {
                            $("#Clinicallydiagnosed").prop("checked", true);
                            $("#NotClinicallydiagnosed").prop("checked", false);
                        }

                        if (data.IsResultClinicallyNotDiagnosed) {
                            $("#Clinicallydiagnosed").prop("checked", false);
                            $("#NotClinicallydiagnosed").prop("checked", true);
                        }

                    }

                    GetRifCategory(data.RifCategoryId);


                    GetReferalInformation(data.ReferralCentreId);

                    GetNoticeDetails(data.PatientId);

                },
                complete: function() {

                }
            });
        }




          function GetNoticeDetails(id) {

            var urlpath = '@Url.Action("PatientDetails", "PatientInformation")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { id: id },
                async: true,
                beforeSend: function() {
                },
                success: function (data) {

                    var result = JSON.parse(data);

                    for (var i = 0; i < result.length; i++) {

                        debugger;

                        var sympId = result[i].SymptomId;

                        var IsTrue = result[i].IsTrue;


                        for (var c = 0; c < Rowcount; c++) {

                            RowId = c;
                            RowId++;

                            var getSymptomId = $("input[name='Symptom[" + RowId + "]']").val();
                            if (getSymptomId == sympId) {

                                if (IsTrue == true) {

                                  //  $("#Yes[" + RowId + "]").prop("checked", true);

                                    document.getElementById("Yes[" + RowId + "]").checked = true;


                                }
                                else {
                                   // $("#No[" + RowId + "]").prop("checked", true);

                                    document.getElementById("No["+RowId+"]").checked = true;
                                }
                            }
                        }


                    }
                },
                complete: function () {

                }
            });

            }




       function GetReferalInstituionByThanaId(id) {


            var urlpath = '@Url.Action("GetRefferInstitutionDataByThanaId", "PatientInformation")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                data: {id : id},
                type: "Get",
                async: false,
                success: function (data) {



                    $('#ReferAddress').val(data.Address);

                    GetReferInstitution(data.ReferralCentreId);

                    //GetDisivionAll(data.DivisionId);

                    //GetDistrictByDisivion(data.DistrictId, data.DivisionId);

                    //GetThanaByDistrict(data.ThanaId, data.DistrictId)

                },
                complete: function() {

                }
            });
        }




        function GetReferalInformation(id) {



            var urlpath = '@Url.Action("GetRefferDataById", "PatientInformation")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                data: {id : id},
                type: "Get",
                async: false,
                success: function (data) {



                    GetDisivionAll(data.DivisionId);

                    GetDistrictByDisivion(data.DistrictId, data.DivisionId);

                    GetThanaByDistrict(data.ThanaId, data.DistrictId)

                    $('#ReferAddress').val(data.Address);
                },
                complete: function() {

                }
            });
        }




         function GetDegree() {


            var urlpath = '@Url.Action("GetSymptoms", "PatientInformation")';
            $.ajax({
                url: urlpath,
                dataType: 'json',

                type: "Get",
                async: true,
                beforeSend: function() {
                },
                success: function (data) {

                    $('#tabH').show();
                    var result = JSON.parse(data);


                    var html = "<table id='mytable' cellpadding='10'  class='table greyGridTable table-striped table-hover'>";
                    var dates = [];

                    for (var i = 0; i < result.length; i++) {

                        RowId++;
                        Rowcount++;

                        if (i == 0) {

                            dates.push(result[i].Name);

                            html += "<tr>";
                            html += "<td style='border-right: 3px solid #003842;border-bottom:2px solid white;font-size:15px;'> " + result[i].SymptomName + "</td>";
                            html += "<td  style='border-bottom:2px solid white;'>";
                            html += "<h6>  <span style='font-weight:normal'>  <input class='form - check - input' type='radio' name='inlineRadioOptions[" + RowId + "]' id='Yes[" + RowId + "]' value='Yes' > Yes  <input class='form - check - input' type='radio' name='inlineRadioOptions[" + RowId + "]' id='No[" + RowId + "]' value='No' > No <input type = 'hidden' name ='Symptom[" + RowId + "]' value = " + result[i].SymptomId + " /> </span></h6>";
                        }
                        else {

                            if (jQuery.inArray(result[i].SymptomName, dates) == -1) {

                                html += " </td>";
                                dates.push(result[i].SymptomName);
                                html += "<tr>";
                                html += "<td style='border-right: 3px solid #003842;border-bottom:2px solid white;font-size:15px;'> " + result[i].SymptomName + "</td>";
                                html += "<td  style='border-bottom:2px solid white;'>";
                                html += "<h6>  <span style='font-weight:normal'> <input class='form - check - input' type='radio' name='inlineRadioOptions[" + RowId + "]' id='Yes[" + RowId + "]' value='Yes' > Yes  <input class='form - check - input' type='radio' name='inlineRadioOptions[" + RowId + "]' id='No[" + RowId + "]' value='No' > No <input type = 'hidden' name ='Symptom[" + RowId + "]' value = " + result[i].SymptomId + " />  </h6>";
                            }

                        }

                    }

                    html += "</table>"

                    $('#tableDetail').html(html);



                },
                complete: function () {
                    //$('#dtTb').dataTable({
                    //    "ordering": false
                    //});
                }
            });
        }



    </script>

}






