﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<!--
Template Name: NobleUI - Admin & Dashboard Template
Author: NobleUI
Website: https://www.nobleui.com
Contact: nobleui123@gmail.com
Purchase: https://1.envato.market/nobleui_admin
License: You must have a valid license purchased only from above link or https://themeforest.net/user/nobleui/portfolio/ in order to legally use the theme for your project.
-->
<html lang="en">

<!-- Mirrored from www.nobleui.com/html/template/demo_3/pages/auth/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 Mar 2021 08:57:48 GMT -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lab_Test || User Login</title>
    <!-- core:css -->
    <link rel="stylesheet" href="~/assets/vendors/core/core.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- end plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/assets/fonts/feather-font/css/iconfont.css">
    <link rel="stylesheet" href="~/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/assets/css/demo_1/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/assets/images/favicon.png" />
</head>
<body class="sidebar-dark">
    <div id="popDIv">

    </div>
    <div class="main-wrapper">
        <div class="page-wrapper full-page">
            <div class="page-content d-flex align-items-center justify-content-center">

                <div class="row w-100 mx-0 auth-page">
                    <div class="col-md-8 col-xl-6 mx-auto">
                        <div class="card">
                            <div class="row">
                                <div class="col-md-4 pr-md-0">
                                    @*<div class="auth-left-wrapper">

                                    </div>*@
                                </div>
                                <div class="col-md-8 pl-md-0">
                                    <div class="auth-form-wrapper px-4 py-5">
                                        <a href="#" class="noble-ui-logo d-block mb-2">Lab_<span>Test</span></a>
                                        <h5 class="text-muted font-weight-normal mb-4">Welcome back! Log in to your account.</h5>
                                        <form class="forms-sample">
                                            <div class="form-group">
                                                <label for="txtUserID">User Id</label>

                                                <input type="text" required id="txtUserID" class="form-control" placeholder="User ID">
                                            </div>
                                            <div class="form-group">
                                                <label for="txtPassword">Password</label>
                                                <input type="password" required id="txtPassword" class="form-control" placeholder="Password">
                                            </div>
                                            @*<div class="form-check form-check-flat form-check-primary">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input">
                                                    Remember me
                                                </label>
                                            </div>*@
                                            <div class="mt-3">

                                                <button class="btn btn-primary mr-2 mb-2 mb-md-0 text-white" type="button" id="savedata">Sign In</button>

                                            </div>
                                                   @*<a href="register.html" class="d-block mt-3 text-muted">Not a user? Please Contact Admin People for Password Retrival.</a>*@
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- core:js -->
    <script src="~/assets/vendors/core/core.js"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <!-- end plugin js for this page -->
    <!-- inject:js -->
    <script src="~/assets/vendors/feather-icons/feather.min.js"></script>
    <script src="~/assets/js/template.js"></script>
    <!-- endinject -->
    <!-- custom js for this page -->
    <!-- end custom js for this page -->

    <script type="text/javascript">

        $(document).ready(function () {

                 $('#savedata').click(function () {

            var data = {
                "LoginName": $("#txtUserID").val(),
                "Password": $("#txtPassword").val()
            };
            $.ajax({
                url: "/UserLogin/GetLoginInfo",
                type: "POST",
                data: JSON.stringify(data),
                dataType: "json",
                contentType: "application/json",
                success: function (response) {
                    var check = response;

                    if (check != 'fail') {


                          window.location = "@Url.Action("EmployeeRecords", "EmployeeGeneral")";
                        @*$.get("@Url.Action("SalesDashboard", "Dashboard")", function (data) {
                            $('.container').html(data);
                        });*@
                    }
                    else {
                       alert('Login Fail!!!');
                        window.location.href = "@Url.Action("SignIn", "UserLogin")";
                    }
                },
                error: function () {
                    alert('Login Fail!!!');
                }
            });
        });
    });
    </script>
</body>





<!-- Mirrored from www.nobleui.com/html/template/demo_3/pages/auth/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 Mar 2021 08:57:48 GMT -->
</html>
