﻿

@{

    Layout = "~/Views/Shared/_Layout.cshtml";

     ViewBag.Title = "EmployeeRecords";

}

<style>

    #custom_table, th, td {
        border: 0.1em solid #CFCFCF;
        border-collapse: collapse;
    }

        #custom_table td {
            padding: 0.1em 6px !important;
        }

        #custom_table th {
            padding: 4px;
            background-color: #3C8BCA;
            color: white;
        }

        #custom_table tr:nth-child(even) {
            background-color: #eee;
        }

        #custom_table tr:nth-child(odd) {
            background-color: #fff;
        }
</style>

<div class="container-fluid" style="width: 100% !important;">

    <div class="page-body m-t-20">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="card main-card  pb-4">
                    <div class="card-header main-card-head">
                        <h5 class=""> <i class="fas fa-1x fa-th-large "></i> Employee Information List </h5>
                    </div>

                    <br />
                    <div class="row">
                        <div class="col-md-5"></div>
     
                        <div class="col-md-2">
                            <button id="btnShowModal" type="button"
                                    class="btn btn-sm btn-info">
                                <i data-feather="plus" style="width: 16px !important; height: 16px !important;"></i>&nbsp;New Entry
                            </button>
                        </div>
                    </div>

                    <br />

                    <div class="card-body " id="custom_table">
                        <div class="table-responsive" id="MainGradeDiv">
                            <table id="dtTble" style="width:100% !important; text-align:center;">
                                <thead>
                                    <tr>
                                        <th class="text-center">#SL</th>
                                        <th class="text-center">Employee ID</th>
                                        <th class="text-center">Employee Name</th>
                                        <th class="text-center">Employee Age</th>
                                        <th class="text-center">Designation</th>
                                        @*<th class="text-center">Entry By</th>
                            <th class="text-center">Entry Date</th>
                            <th class="text-center">Update By</th>
                            <th class="text-center">Update Date</th>*@

                                        <th class="text-center" style="padding:18px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="dtTableBody">
                                </tbody>
                            </table>

                        </div>

                    </div>




                </div>
            </div>
        </div>
    </div>

</div>


<div class="modal fade" tabindex="-1" id="loginModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    ×
                </button>
                @*<h4 class="modal-title"></h4>*@
                <h5 class=""> Employee Entry </h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input class="form-control" type="text"
                               placeholder="Employee Name" id="txtEmpName" />
                    </div>
                    <br />
                    <div class="form-group">
                        <input class="form-control" placeholder="Employee Age"
                               type="number" id="txtEmpAge" />
                    </div>
                    <br />
                    <div class="form-group">
                        <input class="form-control" type="text"
                               placeholder="Employee Designation" id="txtEmpDesignation" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary button button4" onclick="Save()">Submit</button>
                <button type="button" id="btnHideModal" class="btn btn-primary button button4">
                    Hide
                </button>
            </div>
        </div>
    </div>
</div>

<input id="masterId"  style="display:none" />

@section Scripts{



    <script>
        $(function () {

            $(document).ready(function () {
                $("#btnShowModal").click(function () {
                    $("#loginModal").modal('show');
                });

                $("#btnHideModal").click(function () {
                    $("#loginModal").modal('hide');
                });
            });

            GetPrescription();
    });

        function un(o) {
            return o != null ? o : '';
        }





        function ValidationTooltip(id, message) {

            $(id).empty();

            if ($(id).empty()) {
                $(id).append(message);
            }
            $(id).toast('show');
            $(id).css("display", "block");

        }

        function RemoveValidationTooltip(id) {
            $(id).css("display", "none");
        }

        function EmployeeInfoValidation() {

            $('#txtEmpName').removeClass('is-invalid');
            $('#txtEmpAge').removeClass('is-invalid');
            $('#txtEmpDesignation').removeClass('is-invalid');

            RemoveValidationTooltip("#v-txtEmpName");
            RemoveValidationTooltip("#v-txtEmpAge");
            RemoveValidationTooltip("#v-txtEmpDesignation");

            isValid = true;
            if ($('#txtEmpName').val().trim() == "") {

                $('#txtEmpName').addClass("is-invalid");
                ValidationTooltip("#v-txtEmpName", "Please fill out of this field!");
                isValid = false;
            }
            if ($('#txtEmpAge').val().trim() == "") {

                $('#txtEmpAge').addClass("is-invalid");
                ValidationTooltip("#v-txtEmpAge", "Please fill out of this field!");
                isValid = false;
            }

            if ($('#txtEmpDesignation').val().trim() == "") {

                $('#txtEmpDesignation').addClass("is-invalid");
                ValidationTooltip("#v-txtEmpDesignation", "Please fill out of this field!");
                isValid = false;
            }


            return isValid;
        }

        function Save() {

            if (EmployeeInfoValidation()) {
                $.confirm({
                    icon: 'fas fa-question-circle',
                    title: 'Are You Sure ?',
                    content: 'You are about to save the data!',
                    theme: 'Supervan',
                    type: 'green',
                    buttons: {
                        Confirm: {
                            text: 'Confirm',
                            action: function () {
                                FinalSave();
                            }
                        },
                        Cancel: function () {
                        }
                    }
                });

            }


        }

    function FinalSave() {

        var jsonData = {};
        jsonData["EmpId"] = $('#masterId').val();
        jsonData["Name"] = $('#txtEmpName').val();
        jsonData["Age"] = $('#txtEmpAge').val();
        jsonData["Designation"] = $('#txtEmpDesignation').val();

          var urlpath = '@Url.Action("Save_EmployeeInformation", "EmployeeGeneral")';
        $.ajax({
            data: jsonData,
                url: urlpath,
                type: "POST",
                beforeSend: function () {
                    _open_LoadingPopUp_WithMsg("popDiv", "Please wait. Data is Saving...");
                },
                success: function (result) {
                    _close_LoadingPopUp_WithMsg();
                    if (result.isSuccess == true) {
                        $.confirm({
                            icon: 'fas fa-check-circle',
                            title: 'Success !',
                            content: 'Operation successfully done!!',
                            type: 'green',
                            buttons: {
                                OK: {
                                    text: 'OK',
                                    action: function () {
                                var url = '@Url.Action("EmployeeRecords", "EmployeeGeneral")';
                                window.location.href = url;
                                    }
                                }
                            }
                        });

                    } else {
                        _saveErrorDuplicate();
                    }

                },
                error: function (data) {
                    _close_LoadingPopUp_WithMsg();
                    _errorWithMsg("Some error occurred.. Please try again");
                },

            });
        }


        function GetPrescription() {

            var urlpath = '@Url.Action("GetEmployeeInformationList", "EmployeeGeneral")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                async: true,
                beforeSend: function() {
                },
                success: function(data) {

                    $('#tabH').show();
                    var result = JSON.parse(data);
                    var row = "";
                    $('#dtTableBody').html("");
                    for (var i = 0; i < result.length; i++) {
                        row += "<tr>";
                        row += "<td>" + (i + 1) + "</td>";
                        row += "<td>" + un(result[i].ID) + "</td>";
                        row += "<td>" + un(result[i].Name) + "</td>";
                        row += "<td>" + un(result[i].Age) + "</td>";
                        row += "<td>" + un(result[i].Designation) + "</td>";

                        //row += "<td>" + un(result[i].EMPEntryBy) + "</td>";
                        //row += "<td>" + un(result[i].EntryDatee) + "</td>";
                        //row += "<td>" + un(result[i].EMPUpdateBy) + "</td>";
                        //row += "<td>" + un(result[i].UpdateDatee) + "</td>";

                        row += "<td><button class='btn-outline-primary btn-xs mb-1 mb-md-0' onclick='editClick(" + result[i].EmpId + ")'><i class='fas fa-pen' aria-hidden='true'></i></button> </td>";
                        row += "</tr>";
                    }

                    $('#dtTableBody').html(row);
                },
                complete: function () {
                    $('#dtTble').dataTable({
                        "ordering": false
                    });
                }
            });
    }

        function editClick(id) {

            GetData(id);
        }


      function GetData(id) {


            var urlpath = '@Url.Action("GetEmployeeInfoDataForEdit", "EmployeeGeneral")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                data: { id: id },
                type: "Get",
                async: true,
                success: function (data) {

                    $('#masterId').val(data.EmpId);
                    $('#txtEmpName').val(data.Name);
                    $('#txtEmpAge').val(data.Age);
                    $('#txtEmpDesignation').val(data.Designation);                            
                },
                complete: function () {

                    $("#loginModal").modal('show');
                }
            });
        }


    </script>
}

